<div id="footer-div">

    <div>
        <p>Movies & <br>TV Shows</p>
        <p>10 Ashgroove Industrial Park</p>
        <p>Port Harcourt, Rivers State</p>
        <p>info@moviesandtvshows.org</p>
        <p>(234) 555-2300</p>
    </div>

    <div id="social-media">
        <img src="images/youtube-icon.png" alt="Movies & TV Shows YouTube Channel" width="50" height="50">
        <img src="images/twitter-icon.png" alt="Movies & TV Shows Twitter Page" width="50" height="50">
        <img src="images/linkedin-icon.png" alt="Movies and TV Shows LinkedIn Page" width="50" height="50">
    </div>

    <div>
        <p><em>WDD330 Final Project</em></p>
        <p>Aghogho Monorien</p>
        <p>&copy;<span id="current-year"></span> Movies & TV Shows. All rights reserved.</p>
        <p id="last-modified"></p>
    </div>

</div>